<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Metamapper</title>
<style type="text/css">
    body {
        background: linear-gradient(136.53deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%), linear-gradient(312.01deg, #8a338a 0%, rgba(138,51,138,0.75) 100%);
        color: #FFFFFF;
        font-family: helvetica, sans-serif;
    }
    .main {
        max-width: 450px;
        margin: 100px auto 0;
        padding: 0 40px;
    }
    .logo, h1 {
        display: inline-block;
        vertical-align: middle;
    }
    h1 {
        margin-left: 10px;
    }
    p {
        font-size: 20px;
        line-height: 28px;
    }
    .slackButton {
        display: inline-block;
        vertical-align: top;
    }
    .mattermostButton {
        height: 16px;
        background: white;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        padding: 12px 10px;
        display: inline-block;
        border-radius: 4px;
    }
</style>