<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="main">
      <a href="/"><img class="logo" src="https://s3.amazonaws.com/metamaps-assets/metacodes/generics/96px/gen_metamap.png" /></a>
    <h1>Metamaps + Chat<br />= Metamapper</h1>
    <p>
      <%- addToSlack %>
      <a class="mattermostButton" href="/mattermost">
        Add to Mattermost
      </a>
    </p>
  </div>
</body>
</html>