<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="main">
      <a href="/"><img class="logo" src="https://s3.amazonaws.com/metamaps-assets/metacodes/generics/96px/gen_metamap.png" /></a>
    <h1>Metamaps + Chat<br />= Metamapper</h1>
    <p>You can now access and use your Metamaps account.</p>
  </div>
</body>
</html>